semantic-search/Data/*
semantic-search/Project/DerivedData/*
semantic-search/userPreferences.*
runpod/setup.sh
runpod/r13/*
runpod/r14/*
runpod/r15/*
runpod/r16/*
runpod/r17/*
runpod/r18/*
runpod/r19/*
runpod/r20/*
runpod/r21/*
