embeddings/Project/DerivedData/*
embeddings/userPreferences.*
embeddings/secrets/*
embeddings/Data/*
design-reference-21r2/Data/*
design-reference-21r2/userPreferences.*
design-reference-21r2/Project/DerivedData/*
design-reference-21r2/secrets/Claude.token
