embeddings/Project/DerivedData/*
embeddings/userPreferences.*
embeddings/secrets/*
embeddings/Data/*
doc/userPreferences.*
doc/Project/DerivedData/*
doc/secrets/Claude.token
doc/backupHistory.json
*.4BK
doc/secrets/OpenAI.token
doc/Data/dataset/*
doc/Data/developer.4d.com/*
doc/Data/doc.4d.com/*
doc/Data/queries/*
doc/Data/archives/*
doc/Data/data.4DD
doc/Data/data.4DIndx
doc/secrets/api-keys.txt
doc/Data/finetuned-r1-bge-m3-data*
doc/Data/original-bge-m3-data*
doc/Data/finetuned-r2-bge-m3-data*
doc/Data/finetuned-r3-bge-m3-data*
doc/Data/Logs/*
